 <div class="user-show">
   <div class="contents row">
    <div class="title-name">エラー解決</div>
    <% @resolutions.each do |resolution| %>
    <%= render partial: "resolutions/resolution", locals: { resolution: resolution } %>
    <% end %>
  </div>
  <div class="contents row">
     <div class="title-name">記事</div>
      <% @articles.each do |article| %>
      <%= render partial: "articles/article", locals: { article: article } %>
      <% end %>
  </div>
</div>