   <div class="contents row">
    <p class="user-detail"><%= @user.nickname %>さんの投稿一覧</p>
    <% @resolutions.each do |resolution| %>
    <%= render partial: "resolutions/resolution", locals: { resolution: resolution } %>
    <% end %>
  </div>
  <div class="contents row">
      <% @articles.each do |article| %>
      <%= render partial: "articles/article", locals: { article: article } %>
      <% end %>
  </div>