<div class="contents row">
  <p><%= @user.nickname %>さんの投稿一覧</p>
  <% @resolutions.each do |resolution| %>
   <%= render partial: "resolutions/resolution", locals: { resolution: resolution } %>
  <% end %>
</div>