 <%= form_with(model: @resolution, local: true,id: :editor) do |form| %>
   <div class="form-group">
    <div id='editor'>
      <textarea name="resolution[status]" id="n" class="form-control" rows="20" v-model='input' debounce='50'>
      エラーが起きた状況


      エラーメッセージ


      言語


      コードを記述


      原因・教訓


      </textarea>
      <div class="di_inline_t preview">
        <div v-html='input | marked'></div>
      </div>
    </div>
  </div>
  
  <div class="reslution-form">
    <%= form.submit "投稿する" %>
  </div>
<% end %>

<script type="text/javascript">
 window.onload = function() {
 new Vue({
 el: '#editor',
 data: {
 input: '<%== j @resolution.status %>',
 },
 filters: {
 marked: marked,
 },
 });
 };
</script>